<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nobmre</title>
  </head>
  <body>
    <%- include('../pages/bloques/head') %> <%-
    include('../pages/bloques/header') %>
    <a href="/persona" class="nav-link px-2">Persona</a>
    <hr />
    <br />
    <div class="container">
      <h5>
        El usaurio: <em><strong><%= usuario %></strong></em>
      </h5>
      <br />
      <h6 style="color: rgb(250, 3, 56)"><strong> ⚠️​⛔​ No registrado  ​⛔​⚠️</strong></h6>
      <H6>Comprueba la información que has escrito, puede que te hayas dejado algun acento o caracter</H6>
      <br />
    </div>
    <br />
    <br />
    <br />
  </body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <%- include('../pages/bloques/footer') %>
</html>

